# Ignorar datasets
datalake/01_bronze/*.csv
!datalake/01_bronze/*_sample.csv

*.zip
*.tar.gz

.venv/
venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

logs/
*.log

.tmp/
temp/
*.tmp
*.bak

kaggle.json
*.env
.env.*

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
